@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  background: #e5e5e5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px; }

h2 {
  text-align: center;
  font-size: 44px;
  margin: 0;
  padding: 50px 0 0;
  line-height: 1; }

.carrot {
  background-image: url(http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Kitchen-Carrot-icon.png);
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
  margin: 30px auto;
  position: relative;
  opacity: 0.3; }
  .carrot:before, .carrot:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    margin-top: -1px; }
  .carrot:before {
    left: 100%;
    margin-left: 20px; }
  .carrot:after {
    right: 100%;
    margin-right: 20px; }

.container {
  margin: 0 auto;
  background: white;
  padding: 50px;
  box-sizing: border-box; }

.container {
  width: 960px;
  *zoom: 1; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.column {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 20px; }
